page-imprint {   

    ion-content {   

        .scroll-content {
           padding: 10px !important;
           padding-top: 0px !important;
           margin-top: 64px !important;
        }

        section {
            padding: 0px;
        }
    }
}
