<ion-header>

  <ion-navbar color="white" hideBackButton>
    <ion-buttons end>
      <button id="menu-button" ion-button menuToggle end></button>
    </ion-buttons>
    <ion-title>{{getLangText('title.impressum')}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <section  *ngIf="lang=='de-de'"><!--de-de-->
    Gesetzlich vorgeschriebene Angaben (§ 6 Abs. 1 MDStV/TMG)<br />
    <br />
    Verantwortlich für den Inhalt:<br />
    <br />
    <strong>COMFORT
    Gesellschaft für Geschäftsflächen- und Unternehmensvermittlung Holding mbH</strong><br />
    <br />
    Amtsgericht Düsseldorf<br />
    HRB 14462<br />
    USt-ID: DE 119 262 394<br />
    <br />
    Zuständige Aufsichtsbehörde:<br />
    Ordnungsamt in Düsseldorf<br />
    Abt. Allgemeine Verwaltungs- u. Ordnungsangelegenheiten<br />
    Heinrich-Ehrhardt-Str. 61<br />
    40468 Düsseldorf<br />
    <br />
    Briefpostanschrift für alle städtischen Dienststellen: 40200 Düsseldorf<br />
    <br />
    Geschäftsführer:<br />
    Helge T. Strobel<br />
    Matthias E. Bechtle<br />
    Holger Wohner<br />
    Jürgen Kreutz<br />
    <br />
    Kaistraße 8A<br />
    40221 Düsseldorf<br />
    <br />
    Telefon: <a href="tel:+4921195500">+49 211 9550-0</a><br />
    Telefax: +49 211 9550-155<br />
    E-Mail: <a href="mailto:duesseldorf@comfort.de">duesseldorf@comfort.de</a>
  </section>
  <section  *ngIf="lang=='en-de'"><!--en-de-->
      Disclosures required by German law (Section 6 Para. 1 Government Agreement on Media<br />
      Services [MDStV]/Teleservices Law [TMG]):<br />
      <br />
      Responsible for content:<br />
      <br />
      <strong>COMFORT
      Gesellschaft für Geschäftsflächen- und Unternehmensvermittlung Holding mbH</strong><br />
      <br />
      Düsseldorf District Court<br />
      Commercial register entry: HRB 14462<br />
      VAT ID: DE 119 262 394<br />
      <br />
      Managing Directors:<br />
      Helge T. Strobel<br />
      Matthias E. Bechtle<br />
      Holger Wohner<br />
      Jürgen Kreutz<br />
      <br />
      Kaistraße 8A<br />
      40221 Düsseldorf<br />
      <br />
      Telefon: <a href="tel:+4921195500">+49 211 9550-0</a><br />
      Telefax: +49 211 9550-155<br />
      E-Mail: <a href="mailto:duesseldorf@comfort.de">duesseldorf@comfort.de</a>
  </section>
  <section  *ngIf="lang=='de-ch'"><!--de-ch-->
      Verantwortlich:<br />
      <br />
      <strong>COMFORT High Streets Swiss AG</strong><br />
      Schifflände 16<br />
      CH-8001 Zürich<br />
      <br />
      Fon: <a href="tel:+41442522626">+41 44 252 26 26</a><br />
      Fax: +41 44 252 26 28<br />
      <br />
      E-Mail: <a href="mailto:zuerich@comfort-swiss.ch">zuerich@comfort-swiss.ch</a><br />
      <br />
      <strong>Gerichtsstand</strong><br />
      Zürich<br />
      <br />
      Verwaltungsrat:<br />
      Matthias E. Bechtle<br />
      Holger Schiekiera<br />
      Helge T. Strobel<br />
      Gudrun Bürgi-Schneider<br />
      Daniela Reimertz  <br />
      <br />
      <strong>Realisierung</strong><br />
      PIXOLITH <a href="http://www.pixolith.de" target="_new">www.pixolith.de</a><br />
      <br />
      <strong>Photocredits</strong><br />
      <ol>
          <li>Baden_Bernerhaus_by_Hans.jpg  -  by Hans Rudolf Baumann</li>
          <li>Frauenfeld_Schloss_by Odonata.jpg  -  by Odonata</li>
          <li>St._Moritz,_Via_Maistra_b.jpg  -  by MadGeorgrapher</li>
          <li>WilAltstadt_by Magnus Man.jpg  -  by Magnus Manske</li>
      </ol>
  </section>
  <section  *ngIf="lang=='en-ch'"><!--en-ch-->
      Verantwortlich:<br />
      <br />
      <strong>COMFORT High Streets Swiss AG</strong><br />
      Schifflände 16<br />
      CH-8001 Zürich<br />
      <br />
      Fon: <a href="tel:+41442522626">+41 44 252 26 26</a><br />
      Fax: +41 44 252 26 28<br />
      <br />
      E-Mail: <a href="mailto:zuerich@comfort-swiss.ch">zuerich@comfort-swiss.ch</a><br />
      <br />
      <strong>Gerichtsstand</strong><br />
      Zürich<br />
      <br />
      Verwaltungsrat:<br />
      Matthias E. Bechtle<br />
      Holger Schiekiera<br />
      Helge T. Strobel<br />
      Gudrun Bürgi-Schneider<br />
      Daniela Reimertz  <br />
      <br />
      <strong>Realisierung</strong><br />
      PIXOLITH <a href="http://www.pixolith.de" target="_new">www.pixolith.de</a><br />
      <br />
      <strong>Photocredits</strong><br />
      <ol>
          <li>Baden_Bernerhaus_by_Hans.jpg  -  by Hans Rudolf Baumann</li>
          <li>Frauenfeld_Schloss_by Odonata.jpg  -  by Odonata</li>
          <li>St._Moritz,_Via_Maistra_b.jpg  -  by MadGeorgrapher</li>
          <li>WilAltstadt_by Magnus Man.jpg  -  by Magnus Manske</li>
      </ol>
  </section>
</ion-content>
