page-info-city {
    
    ion-content {

        .scroll-content {
            padding: 10px !important;
            padding-top: 0px !important;
            margin-top: 64px !important;
        }        

        h5 {
            margin-top: 0px !important;
        }
    }

}
